{% extends "MyfreelanceBundle::template.html.twig" %}


{% block title %}
    Edition Projet -
    {% set projet = form.vars.value%}
    {{dump(projet.customer.name)}}
{% endblock %}
{% block body %}
    <div class="container-fluid p-t-15">
        <div class="box">
            <div class="box-body collapse in">
                {{form_start(form)}}
                {%for elem in form %}
                    {{form_row(elem)}}
                {% endfor %}
                <input type="submit" value="valider" class="btn btn-primary">
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}