{% extends "MyfreelanceBundle::template.html.twig" %}

{% block title %} Accueil - {{ parent() }}{% endblock %}

{% block body %}
	<div class="box">
	<div class="box-body">
            <h1>Accueil</h1>

            {{form_start(form)}}
                {% for elem in form %}
                    {{form_row(elem)}}
                {% endfor %}
                <input type="submit" name="valider" class="btn btn-primary">
                <a href="#" class="btn btn-default">Retour</a>
            {{form_end(form)}}
        </div>
        </div>
{% endblock %}